    GLOBAL_SETTINGS
    LAB_MASTER_SEED ptit-rsteg-tcp_retrans_student_master_seed
    REGISTRY lenam26
NETWORK SOME-NET
     MASK 172.10.0.0/24
     GATEWAY 172.10.0.1
CONTAINER sender
     USER ubuntu
     X11 YES
     SOME-NET 172.10.0.3
CONTAINER receiver
     USER ubuntu
     X11 YES
     SOME-NET 172.10.0.4
CONTAINER monitor
     USER ubuntu
     X11 YES
     SOME-NET 172.10.0.5
